#navbar {
    padding: 0;
}

.navbar {
    height: 70px;
}

.navbar-brand img {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: 1rem;
}

@media (max-width: 767px) {
    .navbar {
        height: unset;
    }

    .navbar-brand img {
        width: 7.5rem;
        padding-left: 0rem;
    }
}

.navbar-toggler {
    outline: none !important;
    background: var(--mainPink);
    padding: 25px 20px 25px 20px;
    margin-right: -16px;
}

.navbar-toggler-icon {
    font-size: 20px;
    width: 35px;
}

.nac-item a {
    text-decoration: none;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 0;
    line-height: 1.25rem;
}

.nav-link:hover {
    color: var(--mainPink) !important;
}

@media (max-width: 1199px) {
    .nav-link {
        font-size: 0.9rem;
        line-height: 1.25rem;
        padding: 15px 7px;
    }
}

@media (max-width: 767px) {
    .nav-link {
        font-size: 1rem;
        line-height: 1.25rem;
        padding: 0.5rem 0;
    }
}

.nav-link .tag {
    display: inline-block;
    background: var(--mainPink);
    border-radius: 4px;
    padding: 2px 5px 1px;
    margin-left: 5px;
    word-break: keep-all;
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
    animation: wobble-ver-left 1.5s infinite both;
}

@keyframes wobble-ver-left {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    12.5% {
        transform: translateY(-4px) rotate(-2deg);
    }

    25% {
        transform: translateY(4px) rotate(2deg);
    }

    37.5% {
        transform: translateY(-4px) rotate(-2deg);
    }

    50% {
        transform: translateY(4px) rotate(2deg);
    }

    70% {
        transform: translateY(0px) rotate(0deg);
    }
}