.navbar {
    height: 70px;
    padding: 0;
}

.nav-border {
    border-bottom: 0.0625rem solid #eee;
}

.navbar-brand img {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: 1rem;
}

@media (max-width: 767px) {
    .navbar {
        height: unset;
    }

    .navbar-brand img {
        width: 7.5rem;
        padding-left: 0rem;
    }
}

.navbar-toggler {
    outline: none !important;
    background: var(--mainPink);
    height: 80px;
    width: 75px;
    padding: 25px 20px 25px 20px;
    margin-right: -16px;
    border-radius: 0;
}

.navbar-toggler .icon-bar {
    width: 2.1875rem;
    height: 0.125rem;
    margin: 0.4375rem 0rem;
    border-radius: 0.0625rem;
    background-color: var(--mainWhite);
}

.nac-item a {
    text-decoration: none;
}

.navbar-nav {
    padding: 7.5px;
}

.nav-link {
    display: block;
    font-size: 1rem;
    padding: 15px;
}

.nav-link:hover {
    color: var(--mainPink) !important;
}

@media (min-width: 576px) {
    .nav-link {
        font-size: 1rem;
        padding: 15px;
    }
}

@media (min-width: 768px) {
    .nav-link {
        font-size: 0.9rem;
        padding: 15px 7px;
    }
}

@media (min-width: 960px) {
    .nav-link {
        font-size: 1rem;
        padding: 15px !important;
    }
}

.nav-link .tag {
    display: inline-block;
    background: var(--mainPink);
    border-radius: 4px;
    padding: 2px 5px 1px;
    margin-left: 5px;
    word-break: keep-all;
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
    animation: wobble-ver-left 1.5s infinite both;
}

@keyframes wobble-ver-left {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    12.5% {
        transform: translateY(-4px) rotate(-2deg);
    }

    25% {
        transform: translateY(4px) rotate(2deg);
    }

    37.5% {
        transform: translateY(-4px) rotate(-2deg);
    }

    50% {
        transform: translateY(4px) rotate(2deg);
    }

    70% {
        transform: translateY(0px) rotate(0deg);
    }
}