/* 在:root命名變數，我們也可以在任意的選擇器內命名變數，後面會提到該怎麼寫，以及怎麼使用。 */
:root {
  /* 變數命名的規則為：開頭必須是兩個破折號 -- */
  --mainPink: #d90845;
  --mainWhite: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
  text-decoration: none;
  background-color: transparent;
}

.section-title {
  position: relative;
  font-size: 1.5rem;
  color: #555555;
}

.section-title:first-child:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 80px;
  border-radius: 3px;
  background-color: var(--mainPink);
  left: 50%;
  bottom: 0px;
  margin: 0 0 0 -40px;
}

.large {
  font-size: 150%;
}

.text-red {
  color: var(--mainPink);
}

.text-grey {
  color: #888888;
}